# TPO SEGREGATION

In [1]:
import pandas as pd
import datetime
import numpy as np
import warnings
warnings.filterwarnings('ignore')

**INPUT DATA**

In [2]:
import os
os.getcwd()
os.chdir("D:\ABHYAZ INTERNSHIP\output2")

**EXPLORING THE DATA**

In [3]:
TPOS = pd.read_excel(r'TPO Contacts.xlsx')
TPOS.head(10)

,Contact Id,Account Name,Mobile,Email,Title,Contact Role,Contact Frequency,Indian State,Instagram,Linkedin,FB,First Name,Last Name
0,3.304295e+18,Assam Engineering College,9365995608,tnp@aec.ac.in,Training & Placement Officer,Influencer,Frequently,Assam,NaN,NaN,NaN,Sameeran,Das
1,3.304295e+18,Jawaharlal Nehru Technological University Kaki...,8842351502,placementofficer@jntucek.edu.in,Training and Placement Officer,NaN,NaN,NaN,NaN,NaN,NaN,DASARI,HARITHA
2,3.304295e+18,"RGM Group of Institutions, Nandyal",9885937384,tpospec@gmail.com,Training & Placement Officer,Recommender,NaN,NaN,NaN,NaN,NaN,NaN,Kishore Naidu
3,3.304295e+18,Abhyaz Internship Applicants,8587077061,sdureja03@gmail.com,Sr. Manager Training and Placement,NaN,NaN,NaN,NaN,NaN,NaN,Sanjay,Dureja
4,3.304295e+18,Abhyaz Internship Applicants,918866336642.999023,rv6488@gmail.com,Promotion and Placement ...,NaN,NaN,NaN,NaN,NaN,NaN,PROF.,VIJAYKUMAR
5,3.304295e+18,NaN,8178741578,renu.malik@galgotiasuniversity.edu.in,Training Placement Officer,NaN,NaN,NaN,NaN,NaN,NaN,Renu,Malik
6,3.304295e+18,R.V.R. & J.C.College of Engineering,NaN,gsprasad@rvrjcce.ac.in,Professor &\nDean (Training & Placement),NaN,NaN,NaN,NaN,NaN,NaN,Satyanarayana,Prasad
7,3.304295e+18,Thadomal Shahani Engineering College,8329288015,monica.tolani@thadomal.org,"Assistant Professor, Placement Officer and Dea...",NaN,NaN,NaN,NaN,NaN,NaN,Monica Tolani,G
8,3.304295e+18,"Sardar Patel college of engineering, Mumbai",NaN,rahul@spce.ac.in,"Dean - Finance & Administration, Training & Pl...",NaN,NaN,NaN,NaN,NaN,NaN,Rahul,Dahatonde
9,3.304295e+18,Dwarkadas J. Sanghvi College of Engineering,NaN,sandip.mane@djsce.ac.in,Training and Placement Officer,NaN,NaN,NaN,NaN,NaN,NaN,Rajendra S.,Khavekar

In [4]:
TPOS.shape

(674, 13)

In [5]:
# displaying the column names
TPOS.columns.values

array(['Contact Id', 'Account Name', 'Mobile', 'Email', 'Title',
       'Contact Role', 'Contact Frequency', 'Indian State', 'Instagram',
       'Linkedin', 'FB', 'First Name', 'Last Name'], dtype=object)

In [6]:
TPOS.dtypes

Contact Id           float64
Account Name          object
Mobile                object
Email                 object
Title                 object
Contact Role          object
Contact Frequency     object
Indian State          object
Instagram            float64
Linkedin              object
FB                    object
First Name            object
Last Name             object
dtype: object

In [7]:
pip install summarytools

Requirement already satisfied: summarytools in c:\users\anwar\anaconda3\lib\site-packages (0.2.3)
Requirement already satisfied: numpy>=1.18.5 in c:\users\anwar\anaconda3\lib\site-packages (from summarytools) (1.21.5)
Requirement already satisfied: pandas>=1.4.0 in c:\users\anwar\anaconda3\lib\site-packages (from summarytools) (1.4.2)
Requirement already satisfied: ipython>=7.20.0 in c:\users\anwar\appdata\roaming\python\python39\site-packages (from summarytools) (8.6.0)
Requirement already satisfied: matplotlib>=3.3.0 in c:\users\anwar\anaconda3\lib\site-packages (from summarytools) (3.5.1)
Requirement already satisfied: stack-data in c:\users\anwar\appdata\roaming\python\python39\site-packages (from ipython>=7.20.0->summarytools) (0.6.0)
Requirement already satisfied: decorator in c:\users\anwar\appdata\roaming\python\python39\site-packages (from ipython>=7.20.0->summarytools) (5.1.1)
Requirement already satisfied: matplotlib-inline in c:\users\anwar\appdata\roaming\python\python39\site-packages (from ipython>=7.20.0->summarytools) (0.1.6)
Requirement already satisfied: colorama in c:\users\anwar\anaconda3\lib\site-packages (from ipython>=7.20.0->summarytools) (0.4.4)
Requirement already satisfied: pygments>=2.4.0 in c:\users\anwar\anaconda3\lib\site-packages (from ipython>=7.20.0->summarytools) (2.11.2)
Requirement already satisfied: jedi>=0.16 in c:\users\anwar\appdata\roaming\python\python39\site-packages (from ipython>=7.20.0->summarytools) (0.18.1)
Requirement already satisfied: prompt-toolkit<3.1.0,>3.0.1 in c:\users\anwar\appdata\roaming\python\python39\site-packages (from ipython>=7.20.0->summarytools) (3.0.32)
Requirement already satisfied: traitlets>=5 in c:\users\anwar\appdata\roaming\python\python39\site-packages (from ipython>=7.20.0->summarytools) (5.5.0)
Requirement already satisfied: pickleshare in c:\users\anwar\appdata\roaming\python\python39\site-packages (from ipython>=7.20.0->summarytools) (0.7.5)
Requirement already satisfied: backcall in c:\users\anwar\appdata\roaming\python\python39\site-packages (from ipython>=7.20.0->summarytools) (0.2.0)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\anwar\appdata\roaming\python\python39\site-packages (from jedi>=0.16->ipython>=7.20.0->summarytools) (0.8.3)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\anwar\anaconda3\lib\site-packages (from matplotlib>=3.3.0->summarytools) (1.3.2)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\anwar\anaconda3\lib\site-packages (from matplotlib>=3.3.0->summarytools) (4.25.0)
Requirement already satisfied: packaging>=20.0 in c:\users\anwar\anaconda3\lib\site-packages (from matplotlib>=3.3.0->summarytools) (20.9)
Requirement already satisfied: cycler>=0.10 in c:\users\anwar\anaconda3\lib\site-packages (from matplotlib>=3.3.0->summarytools) (0.11.0)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\anwar\appdata\roaming\python\python39\site-packages (from matplotlib>=3.3.0->summarytools) (2.8.2)
Requirement already satisfied: pillow>=6.2.0 in c:\users\anwar\anaconda3\lib\site-packages (from matplotlib>=3.3.0->summarytools) (9.0.1)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\anwar\anaconda3\lib\site-packages (from matplotlib>=3.3.0->summarytools) (2.4.7)
Requirement already satisfied: pytz>=2020.1 in c:\users\anwar\anaconda3\lib\site-packages (from pandas>=1.4.0->summarytools) (2021.3)
Requirement already satisfied: wcwidth in c:\users\anwar\appdata\roaming\python\python39\site-packages (from prompt-toolkit<3.1.0,>3.0.1->ipython>=7.20.0->summarytools) (0.2.5)
Requirement already satisfied: six>=1.5 in c:\users\anwar\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib>=3.3.0->summarytools) (1.15.0)
Requirement already satisfied: asttokens>=2.1.0 in c:\users\anwar\appdata\roaming\python\python39\site-packages (from stack-data->ipython>=7.20.0->summarytools) (2.1.0)
Requirement already satisfied: pure-eval in c:\users\anwar\appdata\roaming\python\python39\site-packages (from stack-data->ipython>=7.20.0->summarytools) (0.2.2)
Requirement already satisfied: executing>=1.2.0 in c:\users\anwar\appdata\roaming\python\python39\site-packages (from stack-data->ipython>=7.20.0->summarytools) (1.2.0)
Note: you may need to restart the kernel to use updated packages.

In [8]:
from summarytools import dfSummary

In [9]:
dfSummary(TPOS)

**DATA CLEANING**

In [10]:
TPOS.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 674 entries, 0 to 673
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Contact Id         674 non-null    float64
 1   Account Name       667 non-null    object
 2   Mobile             437 non-null    object
 3   Email              663 non-null    object
 4   Title              674 non-null    object
 5   Contact Role       615 non-null    object
 6   Contact Frequency  358 non-null    object
 7   Indian State       590 non-null    object
 8   Instagram          0 non-null      float64
 9   Linkedin           8 non-null      object
 10  FB                 2 non-null      object
 11  First Name         599 non-null    object
 12  Last Name          674 non-null    object
dtypes: float64(2), object(11)
memory usage: 68.6+ KB

In [8]:
# gets all null values
TPOS.isna()

,Contact Id,Account Name,Mobile,Email,Title,Contact Role,Contact Frequency,Indian State,Instagram,Linkedin,FB,First Name,Last Name
0,False,False,False,False,False,False,False,False,True,True,True,False,False
1,False,False,False,False,False,True,True,True,True,True,True,False,False
2,False,False,False,False,False,False,True,True,True,True,True,True,False
3,False,False,False,False,False,True,True,True,True,True,True,False,False
4,False,False,False,False,False,True,True,True,True,True,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
669,False,False,False,False,False,False,True,False,True,True,True,False,False
670,False,False,True,False,False,True,True,False,True,True,True,True,False
671,False,False,False,False,False,False,True,False,True,True,True,True,False
672,False,False,False,False,False,False,True,False,True,True,True,True,False
673,False,False,False,False,False,False,True,False,True,True,True,False,False

In [9]:
TPOS.isnull().any()

Contact Id           False
Account Name          True
Mobile                True
Email                 True
Title                False
Contact Role          True
Contact Frequency     True
Indian State          True
Instagram             True
Linkedin              True
FB                    True
First Name            True
Last Name            False
dtype: bool

In [10]:
TPOS.isnull().sum()

Contact Id             0
Account Name           7
Mobile               237
Email                 11
Title                  0
Contact Role          59
Contact Frequency    316
Indian State          84
Instagram            674
Linkedin             666
FB                   672
First Name            75
Last Name              0
dtype: int64

In [11]:
TPOS.duplicated().sum()

0

In [12]:
TPOS['Indian State'].unique()

array(['Assam', nan, 'Maharashtra', 'Karnataka', 'Tamil Nadu',
       'Himachal Pradesh', 'Andhra Pradesh', 'Uttar Pradesh',
       'Madhya Pradesh', 'Bihar', 'Rajasthan', 'Telangana', 'Gujarat',
       'Punjab', 'Tripura', 'Uttarakhand', 'Manipur', 'Jammu & Kashmir',
       'West Bengal', 'Haryana', 'Delhi (NCR)', 'Kerala', 'Sikkim', 'Goa',
       'Jharkhand', 'Odisha', 'Chhattisgarh', 'Puducherry', 'Meghalaya',
       'Arunachal Pradaesh', 'Mizoram', 'Chandigarh', 'Export',
       'Andhra Pardesh', 'Jammu and Kashmir'], dtype=object)

In [13]:
TPOS['Indian State'] = TPOS['Indian State'].str.replace('Jammu and Kashmir', 'Jammu & Kashmir')
TPOS['Indian State'] = TPOS['Indian State'].str.replace('Andhra Pardesh', 'Andhra Pradesh')

In [14]:
TPOS = TPOS.drop(index=4)
TPOS = TPOS.drop(index=5)

In [15]:
# replace missing values with zero

#TPOS = TPOS.replace(np.nan, 0)
#TPOS

In [16]:
TPOS.describe()

         Contact Id  Instagram
count  6.720000e+02        0.0
mean   3.304295e+18        NaN
std    1.505362e+07        NaN
min    3.304295e+18        NaN
25%    3.304295e+18        NaN
50%    3.304295e+18        NaN
75%    3.304295e+18        NaN
max    3.304295e+18        NaN

In [17]:
column = TPOS['Account Name']

column.count()

666

In [18]:
# Groupby state Name

TPOS3 = TPOS['Account Name'].value_counts().reset_index()
TPOS3.columns = ['Account Name', 'count']
print(TPOS3)

                                          Account Name  count
0      Indian Institute of Technology, (BHU), Varanasi     12
1    Dr. B.R. Ambedkar National Institute of Techno...      9
2    Indian Institute of Information Technology, De...      9
3              INDIAN INSTITUTE OF TECHNOLOGY TIRUPATI      8
4          National Institute of Technology Jamshedpur      8
..                                                 ...    ...
337                                     GLA University      1
338                     Srinivas School of Engineering      1
339                           DIT University, Dehradun      1
340         St. JOSEPH COLLEGE OF ENGINEERING, CHENNAI      1
341                     ARCHANA COLLEGE OF ENGINEERING      1

[342 rows x 2 columns]

In [19]:
TPOS.drop(['Instagram', 'Linkedin','FB'], axis=1, inplace=True)

In [20]:
TPOS.head(10)

,Contact Id,Account Name,Mobile,Email,Title,Contact Role,Contact Frequency,Indian State,First Name,Last Name
0,3.304295e+18,Assam Engineering College,9365995608,tnp@aec.ac.in,Training & Placement Officer,Influencer,Frequently,Assam,Sameeran,Das
1,3.304295e+18,Jawaharlal Nehru Technological University Kaki...,8842351502,placementofficer@jntucek.edu.in,Training and Placement Officer,NaN,NaN,NaN,DASARI,HARITHA
2,3.304295e+18,"RGM Group of Institutions, Nandyal",9885937384,tpospec@gmail.com,Training & Placement Officer,Recommender,NaN,NaN,NaN,Kishore Naidu
3,3.304295e+18,Abhyaz Internship Applicants,8587077061,sdureja03@gmail.com,Sr. Manager Training and Placement,NaN,NaN,NaN,Sanjay,Dureja
6,3.304295e+18,R.V.R. & J.C.College of Engineering,NaN,gsprasad@rvrjcce.ac.in,Professor &\nDean (Training & Placement),NaN,NaN,NaN,Satyanarayana,Prasad
7,3.304295e+18,Thadomal Shahani Engineering College,8329288015,monica.tolani@thadomal.org,"Assistant Professor, Placement Officer and Dea...",NaN,NaN,NaN,Monica Tolani,G
8,3.304295e+18,"Sardar Patel college of engineering, Mumbai",NaN,rahul@spce.ac.in,"Dean - Finance & Administration, Training & Pl...",NaN,NaN,NaN,Rahul,Dahatonde
9,3.304295e+18,Dwarkadas J. Sanghvi College of Engineering,NaN,sandip.mane@djsce.ac.in,Training and Placement Officer,NaN,NaN,NaN,Rajendra S.,Khavekar
10,3.304295e+18,Vasavi College of Engineering -Hyderabad,+91 8712846072,NaN,Placement Executive,NaN,NaN,NaN,Bala Kishore,A
11,3.304295e+18,Ashok Leyland,NaN,sarmadkhan1@gmail.com,Training Manager(Pune),Decision Maker,NaN,NaN,Sarmad,Khan

In [21]:
column_name = 'Mobile'
replace_symbols = ['.','(',')','+']
TPOS[column_name] = TPOS[column_name].replace(replace_symbols).str.strip()
TPOS.head()

,Contact Id,Account Name,Mobile,Email,Title,Contact Role,Contact Frequency,Indian State,First Name,Last Name
0,3.304295e+18,Assam Engineering College,9365995608,tnp@aec.ac.in,Training & Placement Officer,Influencer,Frequently,Assam,Sameeran,Das
1,3.304295e+18,Jawaharlal Nehru Technological University Kaki...,8842351502,placementofficer@jntucek.edu.in,Training and Placement Officer,NaN,NaN,NaN,DASARI,HARITHA
2,3.304295e+18,"RGM Group of Institutions, Nandyal",9885937384,tpospec@gmail.com,Training & Placement Officer,Recommender,NaN,NaN,NaN,Kishore Naidu
3,3.304295e+18,Abhyaz Internship Applicants,8587077061,sdureja03@gmail.com,Sr. Manager Training and Placement,NaN,NaN,NaN,Sanjay,Dureja
6,3.304295e+18,R.V.R. & J.C.College of Engineering,NaN,gsprasad@rvrjcce.ac.in,Professor &\nDean (Training & Placement),NaN,NaN,NaN,Satyanarayana,Prasad

In [22]:
df_1 = TPOS.iloc[:28,:]
df_2 = TPOS.iloc[28:,:]
print("Shape of new dataframes - {} , {}".format(df_1.shape, df_2.shape))

Shape of new dataframes - (28, 10) , (644, 10)

In [23]:
df_1

,Contact Id,Account Name,Mobile,Email,Title,Contact Role,Contact Frequency,Indian State,First Name,Last Name
0,3.304295e+18,Assam Engineering College,9365995608,tnp@aec.ac.in,Training & Placement Officer,Influencer,Frequently,Assam,Sameeran,Das
1,3.304295e+18,Jawaharlal Nehru Technological University Kaki...,8842351502,placementofficer@jntucek.edu.in,Training and Placement Officer,NaN,NaN,NaN,DASARI,HARITHA
2,3.304295e+18,"RGM Group of Institutions, Nandyal",9885937384,tpospec@gmail.com,Training & Placement Officer,Recommender,NaN,NaN,NaN,Kishore Naidu
3,3.304295e+18,Abhyaz Internship Applicants,8587077061,sdureja03@gmail.com,Sr. Manager Training and Placement,NaN,NaN,NaN,Sanjay,Dureja
6,3.304295e+18,R.V.R. & J.C.College of Engineering,NaN,gsprasad@rvrjcce.ac.in,Professor &\nDean (Training & Placement),NaN,NaN,NaN,Satyanarayana,Prasad
7,3.304295e+18,Thadomal Shahani Engineering College,8329288015,monica.tolani@thadomal.org,"Assistant Professor, Placement Officer and Dea...",NaN,NaN,NaN,Monica Tolani,G
8,3.304295e+18,"Sardar Patel college of engineering, Mumbai",NaN,rahul@spce.ac.in,"Dean - Finance & Administration, Training & Pl...",NaN,NaN,NaN,Rahul,Dahatonde
9,3.304295e+18,Dwarkadas J. Sanghvi College of Engineering,NaN,sandip.mane@djsce.ac.in,Training and Placement Officer,NaN,NaN,NaN,Rajendra S.,Khavekar
10,3.304295e+18,Vasavi College of Engineering -Hyderabad,+91 8712846072,NaN,Placement Executive,NaN,NaN,NaN,Bala Kishore,A
11,3.304295e+18,Ashok Leyland,NaN,sarmadkhan1@gmail.com,Training Manager(Pune),Decision Maker,NaN,NaN,Sarmad,Khan
12,3.304295e+18,Graphic Era Hill University,NaN,hemani.semwal@geu.ac.in,placement Enquiry officer,NaN,NaN,NaN,Hemani,Semwal
13,3.304295e+18,Koneru Lakshmiah College of Engineering,NaN,kabir@kluniversity.in,Director-Director-Industry Relations and Place...,Decision Maker,NaN,NaN,Kabir,Pasha SM
14,3.304295e+18,Koneru Lakshmiah College of Engineering,NaN,ramakrishna.a@kluniversity.in,"Associate Dean KLH & Director Placements, KL H...",Decision Maker,NaN,NaN,A,RamaKrishna
15,3.304295e+18,Koneru Lakshmiah College of Engineering,NaN,director.placements@kluniversity.in,Senior Director-Placements,Decision Maker,NaN,NaN,J.,Saravanababu
16,3.304295e+18,Koneru Lakshmiah College of Engineering,NaN,nbvprasaad@kluniversity.in,Dean International Placements & Internships,Decision Maker,NaN,NaN,N B V,Prasad
17,3.304295e+18,RV College of Engineering,+91-98861 30504,placement@rvce.edu.in,"Dean Placement & Training, Associate Professor",NaN,NaN,NaN,D.,Ranganath
18,3.304295e+18,Thapar Institute of Engineering & Technology,NaN,davinderpal.singh@thapar.edu,Senior Manager - Liaison & Placement / Industr...,NaN,NaN,NaN,Davinder,Pal Singh
19,3.304295e+18,Thapar Institute of Engineering & Technology,NaN,tpo@thapar.edu,Head - Training and placement,NaN,NaN,NaN,H.S.,Bawa
20,3.304295e+18,Thapar Institute of Engineering & Technology,NaN,NaN,Executive Placement,NaN,NaN,NaN,Shubham,Chan.akar
21,3.304295e+18,Thapar Institute of Engineering & Technology,NaN,training@thapar.edu,Head Training,NaN,NaN,NaN,Sanmeet,Sidhu
22,3.304295e+18,alagappa goverment arts and science college,9790557506,seethashanmugam2000@gmail.com,Training & Placement Officer,NaN,NaN,NaN,NaN,ramya
23,3.304295e+18,Chandigarh University,9347314308,Mounish2@gmail.com,Training & Placement Officer,NaN,NaN,NaN,NaN,Data Analytics & Somanath
24,3.304295e+18,Delhi technological University,8799773715,abhikmpr@gmail.com,Training & Placement Officer,NaN,NaN,NaN,NaN,Srijan keshari
25,3.304295e+18,SAGE University Indore,07648989331,Prachi.gour@sageuniversity.in,Regarding Siemens Training and establishing ce...,NaN,NaN,NaN,Prachi Gour,Prachi
26,3.304295e+18,Indian institute of technology Varanasi,6265428597,pankajkumariitbhu@gmail.com,Training & Placement Officer,NaN,NaN,NaN,NaN,Neeraj thakur
27,3.304295e+18,Sree Chaitanya College of Engineering,7702743924,sei.cdc@scce.ac.in,Training & Placement Officer,NaN,NaN,NaN,NaN,T. Vinay
28,3.304295e+18,Abhyaz Internship Applicants,9477283746,nisha.prf@gmail.com,Training & Placement Officer,NaN,NaN,NaN,Nisha,Arunkumar
29,3.304295e+18,"D Y Patil International University , Akurdi",8983002683,sandhya.ingale@dypiu.ac.in,Training & Placement Officer,NaN,NaN,NaN,NaN,Sandhya Ingale

In [24]:
df_1 = df_1.replace(np.nan, 0)
df_1.head()

,Contact Id,Account Name,Mobile,Email,Title,Contact Role,Contact Frequency,Indian State,First Name,Last Name
0,3.304295e+18,Assam Engineering College,9365995608,tnp@aec.ac.in,Training & Placement Officer,Influencer,Frequently,Assam,Sameeran,Das
1,3.304295e+18,Jawaharlal Nehru Technological University Kaki...,8842351502,placementofficer@jntucek.edu.in,Training and Placement Officer,0,0,0,DASARI,HARITHA
2,3.304295e+18,"RGM Group of Institutions, Nandyal",9885937384,tpospec@gmail.com,Training & Placement Officer,Recommender,0,0,0,Kishore Naidu
3,3.304295e+18,Abhyaz Internship Applicants,8587077061,sdureja03@gmail.com,Sr. Manager Training and Placement,0,0,0,Sanjay,Dureja
6,3.304295e+18,R.V.R. & J.C.College of Engineering,0,gsprasad@rvrjcce.ac.in,Professor &\nDean (Training & Placement),0,0,0,Satyanarayana,Prasad

In [25]:
df_1.to_csv('TPOS1st.csv', index=False, header=True)

In [26]:
df_2.shape

(644, 10)

In [27]:
df_2.to_csv('TPOS-new.csv', index=False, header=True)

In [28]:
# dropping the rows with no email id

df_2.dropna(subset=['Email'], inplace=True)

In [29]:
df_2.shape

(635, 10)

In [30]:
df_2.to_csv('TPOS-dropped.csv', index=False, header=True)

In [31]:
chunk_size = 59
TPOS_split = 1

for chunk in pd.read_csv('TPOS-dropped.csv', chunksize=chunk_size):
    chunk.to_csv('TPOS' + str(TPOS_split) + '.csv', index=False)
    TPOS_split += 1