In [1]:
# Data merging using Full Join

In [2]:
import pandas as pd
import numpy as np

In [3]:
import os
os.getcwd()
os.chdir("D:\ABHYAZ INTERNSHIP\MTC")

In [4]:
df1 = pd.read_excel(r'Company Director 108057.xlsx')
df1.head()

,Company Name,Name,Designation,State,Email,Mobile,IndustryType
0,Awan Aluminiums Private Limited,manish dixit,Managing Director,Haryana,manishchem07@gmail.com,9454374665,Manufacturing
1,CloudByte India Technologies Private Limited,MANISH CHOGALE,Senior Director - Quality Assurance,Karnataka,manishchogale@gmail.com,9869156870,Information Technology
2,Ministry of Defence - Directorate General of M...,Manish Chopra,Director - Works,Delhi,manishchopr@yahoo.co.in,9871409417,Government
3,Mexx Cards,Manish Choure,Director,Maharashtra,manishchoure@gmail.com,9575878744,Manufacturing
4,Entasis India Private Limited,MANISH CHANDRA,Promoter & Managing Director,Delhi,manishcongo@rediffmail.com,8099302667,Services

In [5]:
df1 = df1.rename(columns={'IndustryType': 'Company Type','Mobile':'Mobile No'})
df1.head()

,Company Name,Name,Designation,State,Email,Mobile No,Company Type
0,Awan Aluminiums Private Limited,manish dixit,Managing Director,Haryana,manishchem07@gmail.com,9454374665,Manufacturing
1,CloudByte India Technologies Private Limited,MANISH CHOGALE,Senior Director - Quality Assurance,Karnataka,manishchogale@gmail.com,9869156870,Information Technology
2,Ministry of Defence - Directorate General of M...,Manish Chopra,Director - Works,Delhi,manishchopr@yahoo.co.in,9871409417,Government
3,Mexx Cards,Manish Choure,Director,Maharashtra,manishchoure@gmail.com,9575878744,Manufacturing
4,Entasis India Private Limited,MANISH CHANDRA,Promoter & Managing Director,Delhi,manishcongo@rediffmail.com,8099302667,Services

In [6]:
df2 = pd.read_excel(r'Company Proprietors 397196.xlsx')
df2.head()

,Company Name,Name,Designation,State,Email,Mobile,IndustryType
0,Millenium Software Productions,Manish Chavda,Manager - Account,Tamil Nadu,manishchavda29@gmail.com,9.904054e+09,NaN
1,Tata Capital Limited,MANISH CHAWLA,Managing Partner,Maharashtra,manishchawla09@gmail.com,9.810299e+09,Financial
2,Merlin Multitech Private Limited,manish chawla,Chief Executive Officer,Chhattisgarh,manishchawla76@yahoo.com,9.212510e+09,Information Technology
3,Awan Aluminiums Private Limited,manish dixit,Managing Director,Haryana,manishchem07@gmail.com,9.454375e+09,Manufacturing
4,Government of Kerala - Council of Ministers,manish kumar,Secretary - General Administration,Kerala,manishchemanchery@gmail.com,9.447357e+09,Government

In [7]:
df2 = df2.rename(columns={'IndustryType':'Company Type','Mobile':'Mobile No'})
df2.head()

,Company Name,Name,Designation,State,Email,Mobile No,Company Type
0,Millenium Software Productions,Manish Chavda,Manager - Account,Tamil Nadu,manishchavda29@gmail.com,9.904054e+09,NaN
1,Tata Capital Limited,MANISH CHAWLA,Managing Partner,Maharashtra,manishchawla09@gmail.com,9.810299e+09,Financial
2,Merlin Multitech Private Limited,manish chawla,Chief Executive Officer,Chhattisgarh,manishchawla76@yahoo.com,9.212510e+09,Information Technology
3,Awan Aluminiums Private Limited,manish dixit,Managing Director,Haryana,manishchem07@gmail.com,9.454375e+09,Manufacturing
4,Government of Kerala - Council of Ministers,manish kumar,Secretary - General Administration,Kerala,manishchemanchery@gmail.com,9.447357e+09,Government

In [8]:
df3 = pd.read_excel(r'Company Secretaries 382000.xlsx')
df3.head()

,Company,Name,Mobile,Email,Address,City,State,Category,Unnamed: 8,Unnamed: 9
0,Vinod K. Gupta & Associates,Ramkumar Biradar,9323465999,ramkumar_biradar2000@yahoo.com,"23, 2nd floor, Priyadarshani Building, in fron...",Pune,Maharashtra,Company Secretary,NaN,NaN
1,BMC Software pune,ankush jain,9323891764,anjain2005@rediffmail.com,"291 somware peth , ganesh gayatri complex , pune",Pune,Maharashtra,Company Secretary,NaN,NaN
2,P&O NEDLLOYD,SANJAY KSHIRSAGAR,9324354909,s.kshirsagar@ponl.com,"8,Nanda deep (build), joshi wadi, Ganshaym Gup...",Pune,Maharashtra,Company Secretary,NaN,NaN
3,Bajaj Auto Finance Ltd,vasudev jadhav,9325011292,vasu_20059717@rediffmail.com,Anant b/13 prasun dham opp.morya mangal karyal...,Pune,Maharashtra,Company Secretary,NaN,NaN
4,No.,:Pritesh Abbad,9325050072,priteshabbad@yahoo.co.in,"C/o. Raj Saree Centre, PCMC Block No. 4, Opp. ...",Pune,Maharashtra,Company Secretary,NaN,NaN

In [9]:
df3 = df3.rename(columns={'Category': 'Company Type','Company':'Company Name','Mobile':'Mobile No'})
df3.head()

,Company Name,Name,Mobile No,Email,Address,City,State,Company Type,Unnamed: 8,Unnamed: 9
0,Vinod K. Gupta & Associates,Ramkumar Biradar,9323465999,ramkumar_biradar2000@yahoo.com,"23, 2nd floor, Priyadarshani Building, in fron...",Pune,Maharashtra,Company Secretary,NaN,NaN
1,BMC Software pune,ankush jain,9323891764,anjain2005@rediffmail.com,"291 somware peth , ganesh gayatri complex , pune",Pune,Maharashtra,Company Secretary,NaN,NaN
2,P&O NEDLLOYD,SANJAY KSHIRSAGAR,9324354909,s.kshirsagar@ponl.com,"8,Nanda deep (build), joshi wadi, Ganshaym Gup...",Pune,Maharashtra,Company Secretary,NaN,NaN
3,Bajaj Auto Finance Ltd,vasudev jadhav,9325011292,vasu_20059717@rediffmail.com,Anant b/13 prasun dham opp.morya mangal karyal...,Pune,Maharashtra,Company Secretary,NaN,NaN
4,No.,:Pritesh Abbad,9325050072,priteshabbad@yahoo.co.in,"C/o. Raj Saree Centre, PCMC Block No. 4, Opp. ...",Pune,Maharashtra,Company Secretary,NaN,NaN

In [10]:
df4 = pd.read_excel(r'Consultants 57499.xlsx')
df4.head()

,Company,Name,Mobile,Email,Address,Pincode,City,Website,Category,State
0,Sunrise Estate,NaN,9815642458,NaN,Sector 45 Burail 110/3,160047.0,Chandigarh,NaN,Real Estate Consultants,NaN
1,K.K.Associates Property & Investments Consultants,Ravinder Sharma,9814108383,NaN,Sector 44 SCO 261,160047.0,Chandigarh,NaN,Real Estate Consultants,NaN
2,Motivators Educational & Immigration Consultant,Anil Kumar,9417260000,NaN,Sector 34 100 & 101,160022.0,Chandigarh,NaN,Immigration Consultants,NaN
3,TP SMS Project & Consultant Ltd,Tejpal Singh,9814010000,Manssaria@yahoo.com,Mohali Sector 22C Sco 2421-22,160022.0,Chandigarh,NaN,Real Estate Consultants,NaN
4,Royal Property Consultants,G S Sandhu,9814440000,NaN,Sector 35 sec 35A,160022.0,Chandigarh,NaN,Real Estate Consultants,NaN

In [11]:
df4 = df4.rename(columns={'Category': 'Company Type','Company':'Company Name','Mobile':'Mobile No'})
df4.head()

,Company Name,Name,Mobile No,Email,Address,Pincode,City,Website,Company Type,State
0,Sunrise Estate,NaN,9815642458,NaN,Sector 45 Burail 110/3,160047.0,Chandigarh,NaN,Real Estate Consultants,NaN
1,K.K.Associates Property & Investments Consultants,Ravinder Sharma,9814108383,NaN,Sector 44 SCO 261,160047.0,Chandigarh,NaN,Real Estate Consultants,NaN
2,Motivators Educational & Immigration Consultant,Anil Kumar,9417260000,NaN,Sector 34 100 & 101,160022.0,Chandigarh,NaN,Immigration Consultants,NaN
3,TP SMS Project & Consultant Ltd,Tejpal Singh,9814010000,Manssaria@yahoo.com,Mohali Sector 22C Sco 2421-22,160022.0,Chandigarh,NaN,Real Estate Consultants,NaN
4,Royal Property Consultants,G S Sandhu,9814440000,NaN,Sector 35 sec 35A,160022.0,Chandigarh,NaN,Real Estate Consultants,NaN

In [12]:
df5 = pd.read_excel(r'Consulting Services 95641.xlsx')
df5.head()

,Company,Name,Mobile,Email,Address,Pincode,City,Website,Category,State
0,Om Sai Telecom,Sunder Singh,7838854012,NaN,Lohia Nagar 301/5,201001.0,Ghaziabad,NaN,Consulting Services,NaN
1,Creative Marketing,Gobind,9833945483,NaN,Chembur West Abdul Rehman Street 28,400071.0,Mumbai,NaN,Consulting Services,NaN
2,Magus Limited,Imran,9930744868,NaN,AAI Colony 36,400099.0,Mumbai,www.magussecure.com,Consulting Services,NaN
3,Sachdeva Communication,NaN,9810102655,NaN,Sarojini Nagar Ina Market 2,110023.0,Delhi,NaN,Consulting Services,NaN
4,Services 24u,Mr ravinder singh,9953649795,NaN,South Extension Kanpur ambader nager 16/351,110049.0,Delhi,NaN,Consulting Services,NaN

In [13]:
df5 = df5.rename(columns={'Category': 'Company Type','Company':'Company Name','Mobile':'Mobile No'})
df5.head()

,Company Name,Name,Mobile No,Email,Address,Pincode,City,Website,Company Type,State
0,Om Sai Telecom,Sunder Singh,7838854012,NaN,Lohia Nagar 301/5,201001.0,Ghaziabad,NaN,Consulting Services,NaN
1,Creative Marketing,Gobind,9833945483,NaN,Chembur West Abdul Rehman Street 28,400071.0,Mumbai,NaN,Consulting Services,NaN
2,Magus Limited,Imran,9930744868,NaN,AAI Colony 36,400099.0,Mumbai,www.magussecure.com,Consulting Services,NaN
3,Sachdeva Communication,NaN,9810102655,NaN,Sarojini Nagar Ina Market 2,110023.0,Delhi,NaN,Consulting Services,NaN
4,Services 24u,Mr ravinder singh,9953649795,NaN,South Extension Kanpur ambader nager 16/351,110049.0,Delhi,NaN,Consulting Services,NaN

In [14]:
df6 = pd.read_excel(r'Manufacturing Industry 162393.xlsx')
df6.head()

,Company Name,Name,Designation,State,Email,MobileNo,IndustryType
0,Awan Aluminiums Private Limited,manish dixit,Managing Director,Haryana,manishchem07@gmail.com,919454374665,Manufacturing
1,Tiku Gems,MANISH CHIKANI,Managing Partner,Gujarat,manishchikani@gmail.com,919421400030,Manufacturing
2,Godfrey Phillips India Limited,MANISH CHITKARA,Senior Manager - Corporate Development,Delhi,manishchitkara@yahoo.com,919810132921,Manufacturing
3,T T K Prestige Limited,MANISH CHITRANS,Senior General Manager - Supply Chain,Karnataka,manishchitransh@yahoo.co.in,919899354956,Manufacturing
4,M - Tech Innovations Limited,MANISH KUMAR,General Manager - Finance & Accounts,Maharashtra,manishchohla@gmail.com,919312508324,Manufacturing

In [15]:
df6 = df6.rename(columns={'IndustryType':'Company Type','MobileNo':'Mobile No'})
df6.head()

,Company Name,Name,Designation,State,Email,Mobile No,Company Type
0,Awan Aluminiums Private Limited,manish dixit,Managing Director,Haryana,manishchem07@gmail.com,919454374665,Manufacturing
1,Tiku Gems,MANISH CHIKANI,Managing Partner,Gujarat,manishchikani@gmail.com,919421400030,Manufacturing
2,Godfrey Phillips India Limited,MANISH CHITKARA,Senior Manager - Corporate Development,Delhi,manishchitkara@yahoo.com,919810132921,Manufacturing
3,T T K Prestige Limited,MANISH CHITRANS,Senior General Manager - Supply Chain,Karnataka,manishchitransh@yahoo.co.in,919899354956,Manufacturing
4,M - Tech Innovations Limited,MANISH KUMAR,General Manager - Finance & Accounts,Maharashtra,manishchohla@gmail.com,919312508324,Manufacturing

In [16]:
#merging the sheets in excel file into one

df1 = pd.concat(pd.read_excel('Company Director 108057.xlsx', sheet_name=None), ignore_index=True)
df1.head()

,Company Name,Name,Designation,State,Email,Mobile,IndustryType
0,Awan Aluminiums Private Limited,manish dixit,Managing Director,Haryana,manishchem07@gmail.com,9.454375e+09,Manufacturing
1,CloudByte India Technologies Private Limited,MANISH CHOGALE,Senior Director - Quality Assurance,Karnataka,manishchogale@gmail.com,9.869157e+09,Information Technology
2,Ministry of Defence - Directorate General of M...,Manish Chopra,Director - Works,Delhi,manishchopr@yahoo.co.in,9.871409e+09,Government
3,Mexx Cards,Manish Choure,Director,Maharashtra,manishchoure@gmail.com,9.575879e+09,Manufacturing
4,Entasis India Private Limited,MANISH CHANDRA,Promoter & Managing Director,Delhi,manishcongo@rediffmail.com,8.099303e+09,Services

In [17]:
df1 = df1.rename(columns={'IndustryType':'Company Type','Mobile':'Mobile No','Company':'Company Name'})
df1.head()

,Company Name,Name,Designation,State,Email,Mobile No,Company Type
0,Awan Aluminiums Private Limited,manish dixit,Managing Director,Haryana,manishchem07@gmail.com,9.454375e+09,Manufacturing
1,CloudByte India Technologies Private Limited,MANISH CHOGALE,Senior Director - Quality Assurance,Karnataka,manishchogale@gmail.com,9.869157e+09,Information Technology
2,Ministry of Defence - Directorate General of M...,Manish Chopra,Director - Works,Delhi,manishchopr@yahoo.co.in,9.871409e+09,Government
3,Mexx Cards,Manish Choure,Director,Maharashtra,manishchoure@gmail.com,9.575879e+09,Manufacturing
4,Entasis India Private Limited,MANISH CHANDRA,Promoter & Managing Director,Delhi,manishcongo@rediffmail.com,8.099303e+09,Services

In [18]:
df4 = pd.concat(pd.read_excel('Consultants 57499.xlsx', sheet_name=None), ignore_index=True)
df4 = df4.rename(columns={'Category': 'Company Type','Mobile':'Mobile No','Company':'Company Name'})
df4.head()

,Company Name,Name,Mobile No,Email,Address,Pincode,City,Website,Company Type,State,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,Sunrise Estate,NaN,9815642458,NaN,Sector 45 Burail 110/3,160047.0,Chandigarh,NaN,Real Estate Consultants,NaN,NaN,NaN,NaN
1,K.K.Associates Property & Investments Consultants,Ravinder Sharma,9814108383,NaN,Sector 44 SCO 261,160047.0,Chandigarh,NaN,Real Estate Consultants,NaN,NaN,NaN,NaN
2,Motivators Educational & Immigration Consultant,Anil Kumar,9417260000,NaN,Sector 34 100 & 101,160022.0,Chandigarh,NaN,Immigration Consultants,NaN,NaN,NaN,NaN
3,TP SMS Project & Consultant Ltd,Tejpal Singh,9814010000,Manssaria@yahoo.com,Mohali Sector 22C Sco 2421-22,160022.0,Chandigarh,NaN,Real Estate Consultants,NaN,NaN,NaN,NaN
4,Royal Property Consultants,G S Sandhu,9814440000,NaN,Sector 35 sec 35A,160022.0,Chandigarh,NaN,Real Estate Consultants,NaN,NaN,NaN,NaN

In [19]:
# Merging the data sets

In [20]:
newdf1= pd.concat([df1,df2],axis=0,join='outer')
print(newdf1.shape)
newdf1.head()

(613310, 7)

,Company Name,Name,Designation,State,Email,Mobile No,Company Type
0,Awan Aluminiums Private Limited,manish dixit,Managing Director,Haryana,manishchem07@gmail.com,9.454375e+09,Manufacturing
1,CloudByte India Technologies Private Limited,MANISH CHOGALE,Senior Director - Quality Assurance,Karnataka,manishchogale@gmail.com,9.869157e+09,Information Technology
2,Ministry of Defence - Directorate General of M...,Manish Chopra,Director - Works,Delhi,manishchopr@yahoo.co.in,9.871409e+09,Government
3,Mexx Cards,Manish Choure,Director,Maharashtra,manishchoure@gmail.com,9.575879e+09,Manufacturing
4,Entasis India Private Limited,MANISH CHANDRA,Promoter & Managing Director,Delhi,manishcongo@rediffmail.com,8.099303e+09,Services

In [21]:
newdf2= pd.concat([df3,df4],axis=0,join='outer')
print(newdf2.shape)
newdf2.head()

(488834, 15)

,Company Name,Name,Mobile No,Email,Address,City,State,Company Type,Unnamed: 8,Unnamed: 9,Pincode,Website,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,Vinod K. Gupta & Associates,Ramkumar Biradar,9323465999,ramkumar_biradar2000@yahoo.com,"23, 2nd floor, Priyadarshani Building, in fron...",Pune,Maharashtra,Company Secretary,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,BMC Software pune,ankush jain,9323891764,anjain2005@rediffmail.com,"291 somware peth , ganesh gayatri complex , pune",Pune,Maharashtra,Company Secretary,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,P&O NEDLLOYD,SANJAY KSHIRSAGAR,9324354909,s.kshirsagar@ponl.com,"8,Nanda deep (build), joshi wadi, Ganshaym Gup...",Pune,Maharashtra,Company Secretary,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Bajaj Auto Finance Ltd,vasudev jadhav,9325011292,vasu_20059717@rediffmail.com,Anant b/13 prasun dham opp.morya mangal karyal...,Pune,Maharashtra,Company Secretary,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,No.,:Pritesh Abbad,9325050072,priteshabbad@yahoo.co.in,"C/o. Raj Saree Centre, PCMC Block No. 4, Opp. ...",Pune,Maharashtra,Company Secretary,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
newdf3= pd.concat([df5,df6],axis=0,join='outer')
print(newdf3.shape)
newdf3.head()

(258034, 11)

,Company Name,Name,Mobile No,Email,Address,Pincode,City,Website,Company Type,State,Designation
0,Om Sai Telecom,Sunder Singh,7838854012,NaN,Lohia Nagar 301/5,201001.0,Ghaziabad,NaN,Consulting Services,NaN,NaN
1,Creative Marketing,Gobind,9833945483,NaN,Chembur West Abdul Rehman Street 28,400071.0,Mumbai,NaN,Consulting Services,NaN,NaN
2,Magus Limited,Imran,9930744868,NaN,AAI Colony 36,400099.0,Mumbai,www.magussecure.com,Consulting Services,NaN,NaN
3,Sachdeva Communication,NaN,9810102655,NaN,Sarojini Nagar Ina Market 2,110023.0,Delhi,NaN,Consulting Services,NaN,NaN
4,Services 24u,Mr ravinder singh,9953649795,NaN,South Extension Kanpur ambader nager 16/351,110049.0,Delhi,NaN,Consulting Services,NaN,NaN

In [23]:
newdf4= pd.concat([newdf1,newdf2],axis=0,join='outer')
print(newdf4.shape)
newdf4.head()

(1102144, 16)

,Company Name,Name,Designation,State,Email,Mobile No,Company Type,Address,City,Unnamed: 8,Unnamed: 9,Pincode,Website,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,Awan Aluminiums Private Limited,manish dixit,Managing Director,Haryana,manishchem07@gmail.com,9454374665.0,Manufacturing,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,CloudByte India Technologies Private Limited,MANISH CHOGALE,Senior Director - Quality Assurance,Karnataka,manishchogale@gmail.com,9869156870.0,Information Technology,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Ministry of Defence - Directorate General of M...,Manish Chopra,Director - Works,Delhi,manishchopr@yahoo.co.in,9871409417.0,Government,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Mexx Cards,Manish Choure,Director,Maharashtra,manishchoure@gmail.com,9575878744.0,Manufacturing,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Entasis India Private Limited,MANISH CHANDRA,Promoter & Managing Director,Delhi,manishcongo@rediffmail.com,8099302667.0,Services,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
newdf5= pd.concat([newdf3,newdf4],axis=0,join='outer')
print(newdf5.shape)
newdf5.head()

(1360178, 16)

,Company Name,Name,Mobile No,Email,Address,Pincode,City,Website,Company Type,State,Designation,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,Om Sai Telecom,Sunder Singh,7838854012,NaN,Lohia Nagar 301/5,201001.0,Ghaziabad,NaN,Consulting Services,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Creative Marketing,Gobind,9833945483,NaN,Chembur West Abdul Rehman Street 28,400071.0,Mumbai,NaN,Consulting Services,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Magus Limited,Imran,9930744868,NaN,AAI Colony 36,400099.0,Mumbai,www.magussecure.com,Consulting Services,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Sachdeva Communication,NaN,9810102655,NaN,Sarojini Nagar Ina Market 2,110023.0,Delhi,NaN,Consulting Services,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Services 24u,Mr ravinder singh,9953649795,NaN,South Extension Kanpur ambader nager 16/351,110049.0,Delhi,NaN,Consulting Services,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
newdf5.drop(['Unnamed: 8','Unnamed: 9','Unnamed: 10','Unnamed: 11','Unnamed: 12'], axis=1, inplace=True)

In [26]:
newdf5.head()

,Company Name,Name,Mobile No,Email,Address,Pincode,City,Website,Company Type,State,Designation
0,Om Sai Telecom,Sunder Singh,7838854012,NaN,Lohia Nagar 301/5,201001.0,Ghaziabad,NaN,Consulting Services,NaN,NaN
1,Creative Marketing,Gobind,9833945483,NaN,Chembur West Abdul Rehman Street 28,400071.0,Mumbai,NaN,Consulting Services,NaN,NaN
2,Magus Limited,Imran,9930744868,NaN,AAI Colony 36,400099.0,Mumbai,www.magussecure.com,Consulting Services,NaN,NaN
3,Sachdeva Communication,NaN,9810102655,NaN,Sarojini Nagar Ina Market 2,110023.0,Delhi,NaN,Consulting Services,NaN,NaN
4,Services 24u,Mr ravinder singh,9953649795,NaN,South Extension Kanpur ambader nager 16/351,110049.0,Delhi,NaN,Consulting Services,NaN,NaN

In [27]:
newdf5.shape

(1360178, 11)

In [28]:
newdf5.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1360178 entries, 0 to 106833
Data columns (total 11 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   Company Name  1205939 non-null  object
 1   Name          1356425 non-null  object
 2   Mobile No     1355248 non-null  object
 3   Email         1349304 non-null  object
 4   Address       473586 non-null   object
 5   Pincode       13524 non-null    float64
 6   City          584441 non-null   object
 7   Website       3202 non-null     object
 8   Company Type  1305754 non-null  object
 9   State         1332901 non-null  object
 10  Designation   775703 non-null   object
dtypes: float64(1), object(10)
memory usage: 124.5+ MB

In [29]:
# create a new column in pandas

newdf5['Country'] = 'India'

In [30]:
newdf5.head()

,Company Name,Name,Mobile No,Email,Address,Pincode,City,Website,Company Type,State,Designation,Country
0,Om Sai Telecom,Sunder Singh,7838854012,NaN,Lohia Nagar 301/5,201001.0,Ghaziabad,NaN,Consulting Services,NaN,NaN,India
1,Creative Marketing,Gobind,9833945483,NaN,Chembur West Abdul Rehman Street 28,400071.0,Mumbai,NaN,Consulting Services,NaN,NaN,India
2,Magus Limited,Imran,9930744868,NaN,AAI Colony 36,400099.0,Mumbai,www.magussecure.com,Consulting Services,NaN,NaN,India
3,Sachdeva Communication,NaN,9810102655,NaN,Sarojini Nagar Ina Market 2,110023.0,Delhi,NaN,Consulting Services,NaN,NaN,India
4,Services 24u,Mr ravinder singh,9953649795,NaN,South Extension Kanpur ambader nager 16/351,110049.0,Delhi,NaN,Consulting Services,NaN,NaN,India

In [31]:
# newdf5.to_csv('MTC_merged.csv', index=False, header=True)

In [32]:
# Merging other data files (priyesh data)

In [33]:
newdf6 = pd.read_excel(r'pec-part 2 clean.xlsx')
newdf6.head()

,SL,company name,Name,Email,Contact No 2,Mobile No
0,1.0,3M Tools and Components,Anil Mottou,threemmtool@yahoo.co.in,0172-\n5093427,9316133159
1,2.0,A &S Technology,Surjit Singh arora,surjitsingharora@ymail.com,0172-\n5090364,9888002660
2,3.0,A& N Technologies,Navjot Singh,nav_pahwa@hotmail.com,NaN,9878631885
3,4.0,"A.G.Industries, Indl Phase IX",Aviral Gupta,aginds@gmail.com,NaN,9781900275
4,5.0,A.K.Infotech,Amandeep Singh Gill,amangill1022@hotmail.com,0172-\n2237398,9872671022

In [34]:
newdf6 = newdf6.rename(columns={'Contact No 2':'Phone','company name':'Company Name'})
newdf6.head()

,SL,Company Name,Name,Email,Phone,Mobile No
0,1.0,3M Tools and Components,Anil Mottou,threemmtool@yahoo.co.in,0172-\n5093427,9316133159
1,2.0,A &S Technology,Surjit Singh arora,surjitsingharora@ymail.com,0172-\n5090364,9888002660
2,3.0,A& N Technologies,Navjot Singh,nav_pahwa@hotmail.com,NaN,9878631885
3,4.0,"A.G.Industries, Indl Phase IX",Aviral Gupta,aginds@gmail.com,NaN,9781900275
4,5.0,A.K.Infotech,Amandeep Singh Gill,amangill1022@hotmail.com,0172-\n2237398,9872671022

In [35]:
newdf7= pd.concat([newdf5,newdf6],axis=0,join='outer')
print(newdf7.shape)
newdf7.head()

(1360672, 14)

,Company Name,Name,Mobile No,Email,Address,Pincode,City,Website,Company Type,State,Designation,Country,SL,Phone
0,Om Sai Telecom,Sunder Singh,7838854012,NaN,Lohia Nagar 301/5,201001.0,Ghaziabad,NaN,Consulting Services,NaN,NaN,India,NaN,NaN
1,Creative Marketing,Gobind,9833945483,NaN,Chembur West Abdul Rehman Street 28,400071.0,Mumbai,NaN,Consulting Services,NaN,NaN,India,NaN,NaN
2,Magus Limited,Imran,9930744868,NaN,AAI Colony 36,400099.0,Mumbai,www.magussecure.com,Consulting Services,NaN,NaN,India,NaN,NaN
3,Sachdeva Communication,NaN,9810102655,NaN,Sarojini Nagar Ina Market 2,110023.0,Delhi,NaN,Consulting Services,NaN,NaN,India,NaN,NaN
4,Services 24u,Mr ravinder singh,9953649795,NaN,South Extension Kanpur ambader nager 16/351,110049.0,Delhi,NaN,Consulting Services,NaN,NaN,India,NaN,NaN

In [36]:
newdf7 = newdf7.rename(columns={'Email':'Email ID'})
newdf7.head()

,Company Name,Name,Mobile No,Email ID,Address,Pincode,City,Website,Company Type,State,Designation,Country,SL,Phone
0,Om Sai Telecom,Sunder Singh,7838854012,NaN,Lohia Nagar 301/5,201001.0,Ghaziabad,NaN,Consulting Services,NaN,NaN,India,NaN,NaN
1,Creative Marketing,Gobind,9833945483,NaN,Chembur West Abdul Rehman Street 28,400071.0,Mumbai,NaN,Consulting Services,NaN,NaN,India,NaN,NaN
2,Magus Limited,Imran,9930744868,NaN,AAI Colony 36,400099.0,Mumbai,www.magussecure.com,Consulting Services,NaN,NaN,India,NaN,NaN
3,Sachdeva Communication,NaN,9810102655,NaN,Sarojini Nagar Ina Market 2,110023.0,Delhi,NaN,Consulting Services,NaN,NaN,India,NaN,NaN
4,Services 24u,Mr ravinder singh,9953649795,NaN,South Extension Kanpur ambader nager 16/351,110049.0,Delhi,NaN,Consulting Services,NaN,NaN,India,NaN,NaN

In [37]:
newdf7.drop(['SL'], axis=1, inplace=True)
print(newdf7.shape)
newdf7.head()

(1360672, 13)

,Company Name,Name,Mobile No,Email ID,Address,Pincode,City,Website,Company Type,State,Designation,Country,Phone
0,Om Sai Telecom,Sunder Singh,7838854012,NaN,Lohia Nagar 301/5,201001.0,Ghaziabad,NaN,Consulting Services,NaN,NaN,India,NaN
1,Creative Marketing,Gobind,9833945483,NaN,Chembur West Abdul Rehman Street 28,400071.0,Mumbai,NaN,Consulting Services,NaN,NaN,India,NaN
2,Magus Limited,Imran,9930744868,NaN,AAI Colony 36,400099.0,Mumbai,www.magussecure.com,Consulting Services,NaN,NaN,India,NaN
3,Sachdeva Communication,NaN,9810102655,NaN,Sarojini Nagar Ina Market 2,110023.0,Delhi,NaN,Consulting Services,NaN,NaN,India,NaN
4,Services 24u,Mr ravinder singh,9953649795,NaN,South Extension Kanpur ambader nager 16/351,110049.0,Delhi,NaN,Consulting Services,NaN,NaN,India,NaN

In [38]:
newdf7.to_csv('Industries_merged.csv', index=False, header=True)

In [39]:
newdf8 = pd.read_csv(r'Industries_merged.csv')
print(newdf8.shape)
newdf8.head()

C:\Users\anwar\AppData\Local\Temp\ipykernel_6460\2061755819.py:1: DtypeWarning: Columns (2,4,6,7,10,12) have mixed types. Specify dtype option on import or set low_memory=False.
  newdf8 = pd.read_csv(r'Industries_merged.csv')

(1360672, 13)

,Company Name,Name,Mobile No,Email ID,Address,Pincode,City,Website,Company Type,State,Designation,Country,Phone
0,Om Sai Telecom,Sunder Singh,7838854012,NaN,Lohia Nagar 301/5,201001.0,Ghaziabad,NaN,Consulting Services,NaN,NaN,India,NaN
1,Creative Marketing,Gobind,9833945483,NaN,Chembur West Abdul Rehman Street 28,400071.0,Mumbai,NaN,Consulting Services,NaN,NaN,India,NaN
2,Magus Limited,Imran,9930744868,NaN,AAI Colony 36,400099.0,Mumbai,www.magussecure.com,Consulting Services,NaN,NaN,India,NaN
3,Sachdeva Communication,NaN,9810102655,NaN,Sarojini Nagar Ina Market 2,110023.0,Delhi,NaN,Consulting Services,NaN,NaN,India,NaN
4,Services 24u,Mr ravinder singh,9953649795,NaN,South Extension Kanpur ambader nager 16/351,110049.0,Delhi,NaN,Consulting Services,NaN,NaN,India,NaN

In [40]:
newdf8.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1360672 entries, 0 to 1360671
Data columns (total 13 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   Company Name  1206423 non-null  object
 1   Name          1356907 non-null  object
 2   Mobile No     1355702 non-null  object
 3   Email ID      1349738 non-null  object
 4   Address       473586 non-null   object
 5   Pincode       13524 non-null    float64
 6   City          584441 non-null   object
 7   Website       3202 non-null     object
 8   Company Type  1305754 non-null  object
 9   State         1332901 non-null  object
 10  Designation   775703 non-null   object
 11  Country       1360178 non-null  object
 12  Phone         412 non-null      object
dtypes: float64(1), object(12)
memory usage: 135.0+ MB

In [41]:
# priyesh data
newdf9 = pd.read_csv(r'pec-industries-part2.csv')
print(newdf9.shape)
newdf9.head()

(225, 7)

,Unnamed: 0,Company Name,Name,Email ID,Designation,Mobile No,Address
0,0,SMALL INDL. ASSOCN OF LUD...,PAWAN GARG-,NaN,PRESIDENT,0161- 2490939 \n9417027411,ST. NO.9- NEAR GURU AK HIGH...
1,1,FOCAL POINT ENTREPRENEURS ASSCON\nK-293,SURINDER PAL SINGH-,NaN,PRESIDENT,9855738166,.VIII- FOCAL POINT –\nMANGLI- LUDHI...
2,2,FOCAL POINT IND. WELFARE ASOCN\nE-647,ISHWAR SINGH-,NaN,PRESIDENT,98150-00936,- VII- FOCAL POINT-\nLDH
3,3,FOCAL POINT .VIII INDL. ASSOCN\...,O.P. BASSI-,NaN,PRESIDENT,9876910610,.VIII- F.P.- LUDHIANA-
4,4,SQUARE NUTS MFRS.ASSCON ST.NO.1,BRIJ BHUSHAN-,NaN,PRESIDENT,0161-249119\n98140 98455 \n98140 12193,KOT MANGAL SINGH-\nLDH--

In [42]:
newdf9.drop(['Unnamed: 0'], axis=1, inplace=True)
print(newdf9.shape)
newdf9.head()

(225, 6)

,Company Name,Name,Email ID,Designation,Mobile No,Address
0,SMALL INDL. ASSOCN OF LUD...,PAWAN GARG-,NaN,PRESIDENT,0161- 2490939 \n9417027411,ST. NO.9- NEAR GURU AK HIGH...
1,FOCAL POINT ENTREPRENEURS ASSCON\nK-293,SURINDER PAL SINGH-,NaN,PRESIDENT,9855738166,.VIII- FOCAL POINT –\nMANGLI- LUDHI...
2,FOCAL POINT IND. WELFARE ASOCN\nE-647,ISHWAR SINGH-,NaN,PRESIDENT,98150-00936,- VII- FOCAL POINT-\nLDH
3,FOCAL POINT .VIII INDL. ASSOCN\...,O.P. BASSI-,NaN,PRESIDENT,9876910610,.VIII- F.P.- LUDHIANA-
4,SQUARE NUTS MFRS.ASSCON ST.NO.1,BRIJ BHUSHAN-,NaN,PRESIDENT,0161-249119\n98140 98455 \n98140 12193,KOT MANGAL SINGH-\nLDH--

In [43]:
newdf9.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 225 entries, 0 to 224
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Company Name  225 non-null    object
 1   Name          212 non-null    object
 2   Email ID      82 non-null     object
 3   Designation   225 non-null    object
 4   Mobile No     225 non-null    object
 5   Address       225 non-null    object
dtypes: object(6)
memory usage: 10.7+ KB

In [44]:
newdf10= pd.concat([newdf8,newdf9],axis=0)
print(newdf10.shape)
newdf10.head()

(1360897, 13)

,Company Name,Name,Mobile No,Email ID,Address,Pincode,City,Website,Company Type,State,Designation,Country,Phone
0,Om Sai Telecom,Sunder Singh,7838854012,NaN,Lohia Nagar 301/5,201001.0,Ghaziabad,NaN,Consulting Services,NaN,NaN,India,NaN
1,Creative Marketing,Gobind,9833945483,NaN,Chembur West Abdul Rehman Street 28,400071.0,Mumbai,NaN,Consulting Services,NaN,NaN,India,NaN
2,Magus Limited,Imran,9930744868,NaN,AAI Colony 36,400099.0,Mumbai,www.magussecure.com,Consulting Services,NaN,NaN,India,NaN
3,Sachdeva Communication,NaN,9810102655,NaN,Sarojini Nagar Ina Market 2,110023.0,Delhi,NaN,Consulting Services,NaN,NaN,India,NaN
4,Services 24u,Mr ravinder singh,9953649795,NaN,South Extension Kanpur ambader nager 16/351,110049.0,Delhi,NaN,Consulting Services,NaN,NaN,India,NaN

In [45]:
newdf10.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1360897 entries, 0 to 224
Data columns (total 13 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   Company Name  1206648 non-null  object
 1   Name          1357119 non-null  object
 2   Mobile No     1355927 non-null  object
 3   Email ID      1349820 non-null  object
 4   Address       473811 non-null   object
 5   Pincode       13524 non-null    float64
 6   City          584441 non-null   object
 7   Website       3202 non-null     object
 8   Company Type  1305754 non-null  object
 9   State         1332901 non-null  object
 10  Designation   775928 non-null   object
 11  Country       1360178 non-null  object
 12  Phone         412 non-null      object
dtypes: float64(1), object(12)
memory usage: 145.4+ MB

In [46]:
# saroj India data
newdf11 = pd.read_csv(r'industry_india.csv')
print(newdf11.shape)
newdf11.head()

(6057, 13)

,Company Name,Company Type,Name of the person,Address,Mobile No,Email ID,Designation,State,District,Country,Pincode,Phone,Web
0,INTERNATIONAL COMBUSTION LTD,ENGINEERING,S. K. GOSWAMI,NaN,9373107656,nagpuroffice@internationalzlcomubtion.in,NaN,NaN,NaN,India,NaN,NaN,NaN
1,DIFFUSSION ENGINEERS LTD,AUTOMOBILE,N.K.GARG,NaN,9823721556,info@diffusionengineers.com,NaN,NaN,NaN,India,NaN,NaN,NaN
2,TECHNOCRAFT INDIA,AUTOMOBILE,NAGRAJ REDDY,NaN,9314451080,tecindia1@hotmail.com,NaN,NaN,NaN,India,NaN,NaN,NaN
3,V S AUTOTECH PVT LTD,SHEEETMETAL,SURYABHAN SHETE,NaN,9823030114,vsautotech@gmail.com,NaN,NaN,NaN,India,NaN,NaN,NaN
4,BOMBAY OXYGEN CORPN LTD,GAS INDUSTRIES,SHYAM RUIA,NaN,9595227615,NaN,NaN,NaN,NaN,India,NaN,NaN,NaN

In [47]:
newdf11.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6057 entries, 0 to 6056
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Company Name        6045 non-null   object
 1   Company Type        5588 non-null   object
 2   Name of the person  4932 non-null   object
 3   Address             4832 non-null   object
 4   Mobile No           5602 non-null   object
 5   Email ID            2182 non-null   object
 6   Designation         317 non-null    object
 7   State               551 non-null    object
 8   District            408 non-null    object
 9   Country             6057 non-null   object
 10  Pincode             0 non-null      float64
 11  Phone               386 non-null    object
 12  Web                 0 non-null      float64
dtypes: float64(2), object(11)
memory usage: 615.3+ KB

In [48]:
newdf11 = newdf11.rename(columns={'Name of the person':'Name','Web':'Website'})
newdf11.head()

,Company Name,Company Type,Name,Address,Mobile No,Email ID,Designation,State,District,Country,Pincode,Phone,Website
0,INTERNATIONAL COMBUSTION LTD,ENGINEERING,S. K. GOSWAMI,NaN,9373107656,nagpuroffice@internationalzlcomubtion.in,NaN,NaN,NaN,India,NaN,NaN,NaN
1,DIFFUSSION ENGINEERS LTD,AUTOMOBILE,N.K.GARG,NaN,9823721556,info@diffusionengineers.com,NaN,NaN,NaN,India,NaN,NaN,NaN
2,TECHNOCRAFT INDIA,AUTOMOBILE,NAGRAJ REDDY,NaN,9314451080,tecindia1@hotmail.com,NaN,NaN,NaN,India,NaN,NaN,NaN
3,V S AUTOTECH PVT LTD,SHEEETMETAL,SURYABHAN SHETE,NaN,9823030114,vsautotech@gmail.com,NaN,NaN,NaN,India,NaN,NaN,NaN
4,BOMBAY OXYGEN CORPN LTD,GAS INDUSTRIES,SHYAM RUIA,NaN,9595227615,NaN,NaN,NaN,NaN,India,NaN,NaN,NaN

In [49]:
newdf12= pd.concat([newdf9,newdf10],axis=0)
print(newdf12.shape)
newdf12.head()

(1361122, 13)

,Company Name,Name,Email ID,Designation,Mobile No,Address,Pincode,City,Website,Company Type,State,Country,Phone
0,SMALL INDL. ASSOCN OF LUD...,PAWAN GARG-,NaN,PRESIDENT,0161- 2490939 \n9417027411,ST. NO.9- NEAR GURU AK HIGH...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,FOCAL POINT ENTREPRENEURS ASSCON\nK-293,SURINDER PAL SINGH-,NaN,PRESIDENT,9855738166,.VIII- FOCAL POINT –\nMANGLI- LUDHI...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,FOCAL POINT IND. WELFARE ASOCN\nE-647,ISHWAR SINGH-,NaN,PRESIDENT,98150-00936,- VII- FOCAL POINT-\nLDH,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,FOCAL POINT .VIII INDL. ASSOCN\...,O.P. BASSI-,NaN,PRESIDENT,9876910610,.VIII- F.P.- LUDHIANA-,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,SQUARE NUTS MFRS.ASSCON ST.NO.1,BRIJ BHUSHAN-,NaN,PRESIDENT,0161-249119\n98140 98455 \n98140 12193,KOT MANGAL SINGH-\nLDH--,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [50]:
newdf12 = newdf12.replace('-', ' ', regex=True)

In [51]:
newdf12.head(10)

,Company Name,Name,Email ID,Designation,Mobile No,Address,Pincode,City,Website,Company Type,State,Country,Phone
0,SMALL INDL. ASSOCN OF LUD...,PAWAN GARG,NaN,PRESIDENT,0161 2490939 \n9417027411,ST. NO.9 NEAR GURU AK HIGH...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,FOCAL POINT ENTREPRENEURS ASSCON\nK 293,SURINDER PAL SINGH,NaN,PRESIDENT,9855738166,.VIII FOCAL POINT –\nMANGLI LUDHI...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,FOCAL POINT IND. WELFARE ASOCN\nE 647,ISHWAR SINGH,NaN,PRESIDENT,98150 00936,VII FOCAL POINT \nLDH,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,FOCAL POINT .VIII INDL. ASSOCN\...,O.P. BASSI,NaN,PRESIDENT,9876910610,.VIII F.P. LUDHIANA,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,SQUARE NUTS MFRS.ASSCON ST.NO.1,BRIJ BHUSHAN,NaN,PRESIDENT,0161 249119\n98140 98455 \n98140 12193,KOT MANGAL SINGH \nLDH,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,EEPC,S C RALHAN \n,NaN,CHAIRMAN,2670219\n9815100137,E 184 . IV FP LDH,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NORTHERN INDIA ENGG.\nEXPO...,SATISH\nDHANDHA,NaN,PRESIDENT,2671553 \n2675010 11\nM 9815793400,CLUB ROAD CIVIL LINES LUDHIANA,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,PUNJAB NEW INDS. ASSCON\n15 R,NaN,NaN,,2533801 2534335,INDL/AREA B LDH,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,LUDHIANA ENGG. ASSOCIATION\n 22 23,MS BHOGAL PRES,NaN,,2535247 2534248,INDL. AREA B LDH,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,HOSIERY INDS. ASSOCIATION . SARJEEVAN KNITWEAR...,MAYA RAM JAIN,NaN,PRESIDENT,2606111 2609111,INDL.AREA A LDH,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [52]:
# trim white spaces

newdf12 =newdf12.apply(lambda x: x.str.strip() if x.dtype == 'object' else x)

In [53]:
newdf12.to_csv('Industries_complete_unclean_India.csv', index=False, header=True)

In [54]:
newdf12.shape

(1361122, 13)

In [55]:
newdf12.duplicated().sum()

371263

In [56]:
newdf12 = newdf12.drop_duplicates()

In [57]:
newdf12.shape

(989859, 13)

In [58]:
newdf12.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 989859 entries, 0 to 1360671
Data columns (total 13 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Company Name  850946 non-null  object
 1   Name          986490 non-null  object
 2   Email ID      978834 non-null  object
 3   Designation   461167 non-null  object
 4   Mobile No     578705 non-null  object
 5   Address       427087 non-null  object
 6   Pincode       11832 non-null   float64
 7   City          528170 non-null  object
 8   Website       2387 non-null    object
 9   Company Type  956715 non-null  object
 10  State         965993 non-null  object
 11  Country       989201 non-null  object
 12  Phone         412 non-null     object
dtypes: float64(1), object(12)
memory usage: 105.7+ MB

In [59]:
newdf12.isnull().any()

Company Name    True
Name            True
Email ID        True
Designation     True
Mobile No       True
Address         True
Pincode         True
City            True
Website         True
Company Type    True
State           True
Country         True
Phone           True
dtype: bool

In [60]:
newdf12.isnull().sum()

Company Name    138913
Name              3369
Email ID         11025
Designation     528692
Mobile No       411154
Address         562772
Pincode         978027
City            461689
Website         987472
Company Type     33144
State            23866
Country            658
Phone           989447
dtype: int64

In [61]:
newdf12.shape

(989859, 13)

In [62]:
newdf12.to_csv('Industries_complete_cleaned_India.csv', index=False, header=True)