In [1]:
import pandas as pd
import datetime
import numpy as np
import plotly.express as px
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
import plotly.graph_objects as go

In [2]:
import os
os.getcwd()
os.chdir("D:\ABHYAZ INTERNSHIP\output1")

In [3]:
TPOS = pd.read_excel(r'TPO Contacts.xlsx')
TPOS.head()

,Contact Id,Account Name,Mobile,Email,Title,Contact Role,Contact Frequency,Indian State,Instagram,Linkedin,FB,First Name,Last Name
0,3.304295e+18,Assam Engineering College,9365995608,tnp@aec.ac.in,Training & Placement Officer,Influencer,Frequently,Assam,NaN,NaN,NaN,Sameeran,Das
1,3.304295e+18,Jawaharlal Nehru Technological University Kaki...,8842351502,placementofficer@jntucek.edu.in,Training and Placement Officer,NaN,NaN,NaN,NaN,NaN,NaN,DASARI,HARITHA
2,3.304295e+18,"RGM Group of Institutions, Nandyal",9885937384,tpospec@gmail.com,Training & Placement Officer,Recommender,NaN,NaN,NaN,NaN,NaN,NaN,Kishore Naidu
3,3.304295e+18,Abhyaz Internship Applicants,8587077061,sdureja03@gmail.com,Sr. Manager Training and Placement,NaN,NaN,NaN,NaN,NaN,NaN,Sanjay,Dureja
4,3.304295e+18,Abhyaz Internship Applicants,918866336642.999023,rv6488@gmail.com,Promotion and Placement ...,NaN,NaN,NaN,NaN,NaN,NaN,PROF.,VIJAYKUMAR

In [4]:
TPOS.shape

(674, 13)

In [5]:
# displaying the column names
TPOS.columns.values

array(['Contact Id', 'Account Name', 'Mobile', 'Email', 'Title',
       'Contact Role', 'Contact Frequency', 'Indian State', 'Instagram',
       'Linkedin', 'FB', 'First Name', 'Last Name'], dtype=object)

In [6]:
TPOS['Indian State'] = TPOS['Indian State'].str.replace('Jammu and Kashmir', 'Jammu & Kashmir')
TPOS['Indian State'] = TPOS['Indian State'].str.replace('Andhra Pardesh', 'Andhra Pradesh')

In [7]:
# gets all null values
TPOS.isna()

,Contact Id,Account Name,Mobile,Email,Title,Contact Role,Contact Frequency,Indian State,Instagram,Linkedin,FB,First Name,Last Name
0,False,False,False,False,False,False,False,False,True,True,True,False,False
1,False,False,False,False,False,True,True,True,True,True,True,False,False
2,False,False,False,False,False,False,True,True,True,True,True,True,False
3,False,False,False,False,False,True,True,True,True,True,True,False,False
4,False,False,False,False,False,True,True,True,True,True,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
669,False,False,False,False,False,False,True,False,True,True,True,False,False
670,False,False,True,False,False,True,True,False,True,True,True,True,False
671,False,False,False,False,False,False,True,False,True,True,True,True,False
672,False,False,False,False,False,False,True,False,True,True,True,True,False
673,False,False,False,False,False,False,True,False,True,True,True,False,False

In [8]:
# replace missing values with zero

TPOS = TPOS.replace(np.nan, 0)
TPOS

,Contact Id,Account Name,Mobile,Email,Title,Contact Role,Contact Frequency,Indian State,Instagram,Linkedin,FB,First Name,Last Name
0,3.304295e+18,Assam Engineering College,9365995608,tnp@aec.ac.in,Training & Placement Officer,Influencer,Frequently,Assam,0.0,0,0,Sameeran,Das
1,3.304295e+18,Jawaharlal Nehru Technological University Kaki...,8842351502,placementofficer@jntucek.edu.in,Training and Placement Officer,0,0,0,0.0,0,0,DASARI,HARITHA
2,3.304295e+18,"RGM Group of Institutions, Nandyal",9885937384,tpospec@gmail.com,Training & Placement Officer,Recommender,0,0,0.0,0,0,0,Kishore Naidu
3,3.304295e+18,Abhyaz Internship Applicants,8587077061,sdureja03@gmail.com,Sr. Manager Training and Placement,0,0,0,0.0,0,0,Sanjay,Dureja
4,3.304295e+18,Abhyaz Internship Applicants,918866336642.999023,rv6488@gmail.com,Promotion and Placement ...,0,0,0,0.0,0,0,PROF.,VIJAYKUMAR
...,...,...,...,...,...,...,...,...,...,...,...,...,...
669,3.304295e+18,Designtech Systems Ltd.,919370150550,vikas.khanvelkar@designtechsys.com,Training and Placement Officer,Decision Maker,0,Maharashtra,0.0,0,0,Vikas,Khanvelkar
670,3.304295e+18,CRESCENT QUANTEK LTD.,0,rafiq@crescentbd.com,Training and Placement Officer,0,0,Export,0.0,0,0,0,M. Rafiqul Islam
671,3.304295e+18,Central Institute of Petrochemicals Engineerin...,919886518246,cipetmys@gmail.com,Training Officer,User,0,Karnataka,0.0,0,0,0,Mohana
672,3.304295e+18,Central Institute of Petrochemicals Engineerin...,919325687908,aurangabad@cipet.gov.in,Training Officer,User,0,Maharashtra,0.0,0,0,0,Arunprasad
673,3.304295e+18,ARCHANA COLLEGE OF ENGINEERING,919495757791,reviadr@gmail.com,Training and Placement Officer,Recommender,0,Kerala,0.0,0,0,Revi,Revi.T.N.

In [9]:
TPOS.drop(['Instagram', 'Linkedin','FB'], axis=1, inplace=True)

In [10]:
TPOS.head(10)

,Contact Id,Account Name,Mobile,Email,Title,Contact Role,Contact Frequency,Indian State,First Name,Last Name
0,3.304295e+18,Assam Engineering College,9365995608,tnp@aec.ac.in,Training & Placement Officer,Influencer,Frequently,Assam,Sameeran,Das
1,3.304295e+18,Jawaharlal Nehru Technological University Kaki...,8842351502,placementofficer@jntucek.edu.in,Training and Placement Officer,0,0,0,DASARI,HARITHA
2,3.304295e+18,"RGM Group of Institutions, Nandyal",9885937384,tpospec@gmail.com,Training & Placement Officer,Recommender,0,0,0,Kishore Naidu
3,3.304295e+18,Abhyaz Internship Applicants,8587077061,sdureja03@gmail.com,Sr. Manager Training and Placement,0,0,0,Sanjay,Dureja
4,3.304295e+18,Abhyaz Internship Applicants,918866336642.999023,rv6488@gmail.com,Promotion and Placement ...,0,0,0,PROF.,VIJAYKUMAR
5,3.304295e+18,0,8178741578,renu.malik@galgotiasuniversity.edu.in,Training Placement Officer,0,0,0,Renu,Malik
6,3.304295e+18,R.V.R. & J.C.College of Engineering,0,gsprasad@rvrjcce.ac.in,Professor &\nDean (Training & Placement),0,0,0,Satyanarayana,Prasad
7,3.304295e+18,Thadomal Shahani Engineering College,8329288015,monica.tolani@thadomal.org,"Assistant Professor, Placement Officer and Dea...",0,0,0,Monica Tolani,G
8,3.304295e+18,"Sardar Patel college of engineering, Mumbai",0,rahul@spce.ac.in,"Dean - Finance & Administration, Training & Pl...",0,0,0,Rahul,Dahatonde
9,3.304295e+18,Dwarkadas J. Sanghvi College of Engineering,0,sandip.mane@djsce.ac.in,Training and Placement Officer,0,0,0,Rajendra S.,Khavekar

In [11]:
column_name = 'Mobile'
replace_symbols = ['.','(',')','+']
TPOS[column_name] = TPOS[column_name].replace(replace_symbols).str.strip()
TPOS.head()

,Contact Id,Account Name,Mobile,Email,Title,Contact Role,Contact Frequency,Indian State,First Name,Last Name
0,3.304295e+18,Assam Engineering College,9365995608,tnp@aec.ac.in,Training & Placement Officer,Influencer,Frequently,Assam,Sameeran,Das
1,3.304295e+18,Jawaharlal Nehru Technological University Kaki...,8842351502,placementofficer@jntucek.edu.in,Training and Placement Officer,0,0,0,DASARI,HARITHA
2,3.304295e+18,"RGM Group of Institutions, Nandyal",9885937384,tpospec@gmail.com,Training & Placement Officer,Recommender,0,0,0,Kishore Naidu
3,3.304295e+18,Abhyaz Internship Applicants,8587077061,sdureja03@gmail.com,Sr. Manager Training and Placement,0,0,0,Sanjay,Dureja
4,3.304295e+18,Abhyaz Internship Applicants,NaN,rv6488@gmail.com,Promotion and Placement ...,0,0,0,PROF.,VIJAYKUMAR

In [12]:
TPOS = TPOS.drop(index=4)
TPOS = TPOS.drop(index=5)

In [13]:
TPOS.head(10)

,Contact Id,Account Name,Mobile,Email,Title,Contact Role,Contact Frequency,Indian State,First Name,Last Name
0,3.304295e+18,Assam Engineering College,9365995608,tnp@aec.ac.in,Training & Placement Officer,Influencer,Frequently,Assam,Sameeran,Das
1,3.304295e+18,Jawaharlal Nehru Technological University Kaki...,8842351502,placementofficer@jntucek.edu.in,Training and Placement Officer,0,0,0,DASARI,HARITHA
2,3.304295e+18,"RGM Group of Institutions, Nandyal",9885937384,tpospec@gmail.com,Training & Placement Officer,Recommender,0,0,0,Kishore Naidu
3,3.304295e+18,Abhyaz Internship Applicants,8587077061,sdureja03@gmail.com,Sr. Manager Training and Placement,0,0,0,Sanjay,Dureja
6,3.304295e+18,R.V.R. & J.C.College of Engineering,NaN,gsprasad@rvrjcce.ac.in,Professor &\nDean (Training & Placement),0,0,0,Satyanarayana,Prasad
7,3.304295e+18,Thadomal Shahani Engineering College,8329288015,monica.tolani@thadomal.org,"Assistant Professor, Placement Officer and Dea...",0,0,0,Monica Tolani,G
8,3.304295e+18,"Sardar Patel college of engineering, Mumbai",NaN,rahul@spce.ac.in,"Dean - Finance & Administration, Training & Pl...",0,0,0,Rahul,Dahatonde
9,3.304295e+18,Dwarkadas J. Sanghvi College of Engineering,NaN,sandip.mane@djsce.ac.in,Training and Placement Officer,0,0,0,Rajendra S.,Khavekar
10,3.304295e+18,Vasavi College of Engineering -Hyderabad,+91 8712846072,0,Placement Executive,0,0,0,Bala Kishore,A
11,3.304295e+18,Ashok Leyland,NaN,sarmadkhan1@gmail.com,Training Manager(Pune),Decision Maker,0,0,Sarmad,Khan

In [14]:
TPOS = TPOS.replace(np.nan, 0)

In [ ]:
column = TPOS['Account Name']

column.count()

In [15]:
TPOS.to_csv('TPOS1.csv', index=False, header=True)

In [16]:
chunk_size = 56
TPOS_split = 1

for chunk in pd.read_csv('TPOS1.csv', chunksize=chunk_size):
    chunk.to_csv('TPOS' + str(TPOS_split) + '.csv', index=False)
    TPOS_split += 1

In [ ]:
# Resetting the indices using df.reset_index()
#df_2 = df_2.reset_index(drop=True)